alembic==1.4.2
bcrypt==3.1.7
click==7.1.2
cryptography==2.9.2
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
msrest==0.6.13
PyMySQL==0.9.3
pyrsistent==0.16.0
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
PyYAML==5.4
requests==2.23.0
six==1.14.0
SQLAlchemy==1.3.16
Werkzeug==1.0.1
